@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.horse-head {
  width: 100px;
}

h1 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

p {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

a {
  text-decoration: none;
  font-family: 'Coming Soon', cursive;
}
.icons {
  width: 50px;
}
